<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block links %} {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Dołączam plik js z jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Dołączam plik js z bootstrapem -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Dołączam własny plik css z moimi stylami -->
    <link rel="stylesheet" href="style.css">
    <title>{% block title %} Base {% endblock %}</title>
  </head>
  <body>
    <!-- Tworzę pasek nawigacyjny z logowaniem i rejestracją -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Tworzę logo strony -->
        <a class="navbar-brand" href="/">
            <img src="logo.png" alt="Logo" width="30" height="30">
            Moja strona
        </a>
        <!-- Tworzę przycisk do rozwijania paska na małych ekranach -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Tworzę listę elementów paska -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- Tworzę element z linkiem do logowania -->
                <li class="nav-item">
                    <a class="nav-link" href="/login">Logowanie</a>
                </li>
                <!-- Tworzę element z linkiem do rejestracji -->
                <li class="nav-item">
                    <a class="nav-link" href="/register">Rejestracja</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Tworzę blok na treść strony -->
    <div class="content">
        <!-- Wstawiam treść strony z innego pliku -->
        {% block content %}{% endblock %}
    </div>
  </body>
</html>