{% extends "base.html" %}
{% block links %} 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
{% endblock %} 
{% block title %} Historia {% endblock %} 
{% block content %}
    <div class="container">
        <div class="row justify-content-center"> 
            <div class="col-md-6"> 
                <div class="card bg-light mb-3"> 
                    <div class="card-header">Statystyki gracza</div> 
                    <div class="card-body"> 
                        <p class="card-text">Nazwa: {{ user.name }}</p> 
                        <p class="card-text">Punkty łącznie: {{ user.total_points }}</p> 
                        <p class="card-text">Liczba gier: {{ user.games_count }}</p> 
                    </div> 
                </div>
                <div class="card bg-light mb-3"> 
                    <div class="card-header">Rozegrane gry</div> 
                    <div class="card-body"> 
                        <table class="table table-striped"> 
                            <thead> 
                            <tr>
                                <th scope="col">#</th> 
                                <th scope="col">Kategoria</th>
                                <th scope="col">Wynik</th> 
                            </tr> 
                            </thead> 
                            <tbody> 
                            {% for game in games %}
                                <tr data-toggle="modal" data-target="#gameModal{{ loop.index }}">
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ game.category }}</td>
                                    <td>{{ game.points }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for game in games %}
    <div class="modal fade" id="gameModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel{{ loop.index }}" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="gameModalLabel{{ loop.index }}">Szczegóły gry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Pytanie</th>
                  <th scope="col">Odpowiedź użytkownika</th>
                  <th scope="col">Właściwa odpowiedź</th>
                </tr>
              </thead>
              <tbody>
                {% for response in game.other_fields.user_responses %}
                  <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ response.question }}</td>
                    <td>{{ response.userAnswer }}</td>
                    <td>{{ response.correctAnswer }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}
