{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
{% block title %} History {% endblock %}
{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}

    <script>
        window.addEventListener('load', function() {
            setTimeout(function() {
                var alerts = document.querySelectorAll('.alert');
                alerts.forEach(function(alert) {
                    alert.style.display = 'none';
                });
            }, 2000);
        });
    </script>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-light mb-3">
                    <div class="card-header">Player Statistics</div>
                    <div class="card-body">
                        <p class="card-text">Name: {{ user.name }}</p>
                        <p class="card-text">Total Points: {{ user.total_points }}</p>
                        <p class="card-text">Number of Games: {{ user.games_count }}</p>
                    </div>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-header">Played Games</div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Category</th>
                                <th scope="col">Score</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for game in games %}
                                <tr data-toggle="modal" data-target="#gameModal{{ loop.index }}">
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ game.category }}</td>
                                    <td>{{ game.points }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for game in games %}
    <div class="modal fade" id="gameModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel{{ loop.index }}" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="gameModalLabel{{ loop.index }}">Game Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Question</th>
                  <th scope="col">User Answer</th>
                  <th scope="col">Correct Answer</th>
                </tr>
              </thead>
              <tbody>
                {% for response in game.other_fields.user_responses %}
                  <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ response.question }}</td>
                    <td>{{ response.userAnswer }}</td>
                    <td>{{ response.correctAnswer }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}
