{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_register.css') }}">
{% endblock %}
{% block title %} register {% endblock %}
{% block content %}
    <div class="container">
        <div class="register-window">
            <h1 class="register-header">Rejestracja</h1>
            <form method="post" action="/register">
                <div class="form-group">
                    <label for="username">Nazwa użytkownika</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Wpisz nazwę użytkownika">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Wpisz email">
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Wpisz hasło">
                </div>
                <div class="form-group">
                    <label for="confirm-password">Potwierdź hasło</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Wpisz ponownie hasło">
                </div>
                <button type="submit" class="btn btn-primary">Zarejestruj się</button>
            </form>
        </div>
    </div>
    {% if error %}
        <script>
            alert("{{ error }}");
        </script>
    {% endif %}

{% endblock %}